---
title: Introducción a la asignatura
layout: layout-slides
---

%section
  %h1 Software Web
  %h2 Introducción a la asignatura

%section
  %h2 Hola
  %p.fragment
    Soy Javier Usobiaga y soy diseñador web.
  %p.fragment
    Vivo en Barcelona y trabajo en &nbsp;<a href="https://swwweet.com">Swwweet</a>,
    mi propio&nbsp;estudio.


%section
  %h2 Objetivos de la asignatura
  %ul.note
    %li.fragment Aprender sobre la industria del diseño web
    %li.fragment Aprender cómo escribir código HTML y CSS
    %li.fragment Crear un sitio web responsive
    %li.fragment Publicar una página web

%section
  %h2 Clases
  %ul.note
    %li.fragment Durante todas las clases estaremos combinando teoría y práctica.
    %li.fragment Muchos de los ejercicios prácticos se podrán hacer en parejas.
    %li.fragment Avanzaremos materia al ritmo de la clase.
%section
  %h2 Ejercicios y calificación
  %ul.note
    %li.fragment En cada sesión habrá microejercicios para poner en práctica lo&nbsp;aprendido.
    %li.fragment
      A lo largo del curso plantearé algunos ejercicios de entrega obligatoria
      (necesarios para poder ser evaluados).
    %li.fragment
      También plantearé algunos ejercicios de entrega opcional. Estos ejercicios son
      bonificadores sobre la nota final (+1, +2, etc).
  %p.note.fragment
    No hay un examen final, hay un ejercicio final (una web) que se podrá entregar
    en el Classroom.
%section
  %h2 Por favor
  %ul.note
    %li.fragment
      Por favor, no os saltéis las clases. Es fácil perderse con el código, especialmente al principio.
    %li.fragment
      Por favor, sed puntuales.
    %li.fragment
      Por favor, preguntad si os perdéis.
%section
  %h2 Contacto
  %p
    Me podéis contactar en <a href="mailto:javier.usobiaga@ideponline.com">javier.usobiaga@ideponline.com</a>
    <br>o en <a href="mailto:javier@swwweet.com">javier@swwweet.com</a>.